<section class="weather">
  <h1><%= @forecast[:day_for].capitalize %>'s weather</h1>
  <table>
    <tr>
      <td>Morning</td>
      <td>Lunch</td>
      <td>Afternoon</td>
      <td>Evening</td>
    </tr>
    <tr>
      <td><canvas class="<%= @forecast[:morning][:symbol] %>" id="morning_weather" width="91px" height="70px"></canvas></td>
      <td><canvas class="<%= @forecast[:lunch][:symbol] %>" id="lunch_weather" width="91px" height="70px"></canvas></td>
      <td><canvas class="<%= @forecast[:afternoon][:symbol] %>" id="afternoon_weather" width="91px" height="70px"></canvas></td>
      <td><canvas class="<%= @forecast[:evening][:symbol] %>" id="evening_weather" width="91px" height="70px"></canvas></td>
    </tr>
    <tr>
      <td><%= @forecast[:morning][:temperature] %>&deg;</td>
      <td><%= @forecast[:lunch][:temperature] %>&deg;</td>
      <td><%= @forecast[:afternoon][:temperature] %>&deg;</td>
      <td><%= @forecast[:evening][:temperature] %>&deg;</td>
    </tr>
  </table>
</section>