<% @prints.each do |print| %>
<p class="content metadata"><%= print.created_at %></p>
<div class="paper archive">
  <div class="content">
    <section class="print">
      <a href="/archive/<%= @printer.id %>/image/<%= print.guid %>.png">
        <img src="/archive/<%= @printer.id %>/image/<%= print.guid %>.png" title="Printed: <%= print.created_at %>"/>
      </a>
    </section>
  </div>
</div>
<% end %>

<% @prev_page = @page - 1 %>
<% @next_page = @page + 1 %>

<p class="content pagination">
  <% if @prev_page > 0 %>
    <a href="/archive/<%= @printer.id %>?page=<%= @prev_page %>">&larr; Newer</a>
  <% end %>
  <%= ((@page - 1) * @per_page) + 1 %> - <%= [(@page * @per_page), @total].min %> of <%= @total %>
  <% if @total > (@page * @per_page) %>
    <a href="/archive/<%= @printer.id %>?page=<%= @next_page %>">Older &rarr;</a>
  <% end %>
</p>
