<div class="paper">
  <div class="content my_printer">
    <% if @printers.any? %>
      <h1>Your printers</h1>
      <% @printers.each do |printer| %>
        <section id="printer_<%= printer.id %>">
          <p>ID: <%= printer.id %></p>
          <p>Type: <%= printer.type %></p>
          <p>Print URL: <pre class="print_url"><%= print_url(printer) %></pre></p>
          <p><a href="<%= print_url(printer) %>?url=<%= URI.escape(url("/#{printer.id}/test-page")) %>">Print test page</a></p>
        </section>
      <% end %>
    <% else %>
      <p class="no_printers">Sorry, I haven't seen any printers connect from near you.</p>
    <% end %>
  </div>
</div>