<div class="paper">
  <div class="content my_printer">
    <% if @printers.any? %>
      <h1>Your printers</h1>
      <% @printers.each do |printer| %>
        <section id="printer_<%= printer.id %>">
          <p>Type: <%= printer.type %></p>
          <p>Software version: <%= printer.version %></p>
          <p><form action="/my-printer/<%= printer.id %>" method="POST">
            <input type="hidden" name="_method" value="put" />
            <label for="printer[darkness]">Darkness: <input name="printer[darkness]" value="<%= printer.darkness %>"></label>
            <input type="hidden" name="printer[flipped]" value="false" />
            <label for="printer[flipped]">Flipped?: <input type="checkbox" name="printer[flipped]" value="true" <%= printer.flipped ? "checked=checked" : "" %>/></label>
            <input type="submit" value="Update printer" />
            </form></p>
          <p>Print URL: <pre class="print_url"><%= print_url(printer) %></pre></p>
          <p><a href="<%= print_url(printer) %>?url=<%= URI.escape(url("/#{printer.id}/test-page")) %>">Print test page</a></p>
          <p><form action="<%= print_url(printer) %>" method="POST">
               <label for="url">URL: <input name="url" type="text" /></label>
               <input type="submit" value="Print URL" />
              </form></p>
          <p><form action="<%= print_url(printer) %>" method="POST">
               <label for="content">HTML: <textarea name="content"></textarea></label>
               <input type="submit" value="Print HTML" />
              </form></p>
          <p><a href="/archive/<%= printer.id %>">View print archive</a></p>
        </section>
      <% end %>
    <% else %>
      <p class="no_printers">Sorry, I haven't seen any printers connect from near you.</p>
    <% end %>
  </div>
</div>